
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 100%;
  padding: 0px;
  margin:0px;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  background-color: lightgrey;
  position:absolute;
}
.row_top{
	width:100%;
	background-color: darkblue;
}
.row_base{
	display: -webkit-flex;
	display: flex;
	flex-flow: row;
	-webkit-align-items: stretch;
    align-items: stretch;
	width:100%;
}

.left_menu{
	height:100%;
	margin:0px;
	flex:1;
	-webkit-flex:1;
	order:1;
	background-color: #2ED4E2;
	box-shadow: 0px 5px 2px grey;
	border-radius: 3px;
	color:white;
	font-weight:600;
	transition-duration: 0.4s;
	transition-timing-function:ease;
}
.expanded .left_menu{
	flex:0.3;
	transition-duration: 0.7s;
	transition-timing-function:ease;
	-webkit-animation: swing 0.4s ease 0.5s;
    animation: swing 0.4s ease 0.5s;
}
.left_top{
	height:50px;
	/*background-color: #2ED4E2;*/
	border-bottom: 1px solid #C7C7C7;
}

.right_content{
	flex:5;
	-webkit-flex:5;
	order:2;
	height:100%;
	background-color: #F5F5F5;
	overflow: auto;
	color:black;
	font-weight:600;
}
.right_top{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	background-color: white;
	height:50px;
}
.menu_icon{
	padding:10px;
	cursor: pointer;
}
.menu_icon:hover{
	-webkit-animation: swing 0.5s ease-in-out;
    animation: swing 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes swing
{
    50%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    50%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.menu_wrapper{
	width:30px;
	padding:0;
	margin:0;
}
.menu_line{
	margin-bottom:6px;
	border:none;
	border-bottom: 3px black solid;
	transform-origin: right center;
	transition-property:all;
	transition-duration:0.2s;
}
	.menu_shown .line_top{
		transform: rotate(-45deg);
		width:15px;
	}
	.menu_shown .line_center{
		opacity:0;
		transition-delay: 0.1s;
		transform: translate(30px,0px);
		transition-timing-function: ease-in-out;
		transition-duration:0.6s;
	}
	.menu_shown .line_bottom{
		transform: rotate(45deg);
		width:15px;
	}
.gadgets_set{
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: flex-start;
          align-items: flex-start;
	-webkit-justify-content: space-around;
          justify-content: space-around;
	flex-wrap:wrap;
	margin-top:40px;
}
.dash_components{
	width: 300px;
    height: 100px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 3px 5px grey;
	border-radius: 3px;
}

.graphs_set{
	display: -webkit-flex;
	display:         flex;
	flex-flow: column;
	-webkit-align-items: center;
          align-items: center;
	-webkit-justify-content: center;
          justify-content: center;
}
.graphs{
	margin:10px;
	width:900px;
}


div{
	
	
}

@media all and (max-width: 300px) {
 .row_base{
    -webkit-flex-direction: column;
	flex-direction: column;
  }
  .left_menu{
	min-width:100%;
  }
  .right_content{
  }
}